<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58027420420-b21th1puhv1dnu90ulkgjchb4jsnv88j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58027420420-b21th1puhv1dnu90ulkgjchb4jsnv88j</string>
	<key>API_KEY</key>
	<string>AIzaSyD5MER1wZjltw0-9A2xwVBB27lTp63_1IY</string>
	<key>GCM_SENDER_ID</key>
	<string>58027420420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rjmediastudios.shclone</string>
	<key>PROJECT_ID</key>
	<string>shclone-1b236</string>
	<key>STORAGE_BUCKET</key>
	<string>shclone-1b236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58027420420:ios:5ad97dd8ac471c68a37e51</string>
</dict>
</plist>